
#fd-slider-describedby
{
    padding: 1em;
    border: 3px solid #a84444;
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

input[type="range"]
{
    width: 100%;
}

#html5shim-2-out
{
    font-weight: normal;
    font-style: italic;
}
/* The following classes are given to the vertical sliders to set their height */
span.v-s
{
    height: 300px;
}

span.v-s2
{
    height: 160px;
}

#html5shim-4
{
    width: 20px;
    height: 400px;
}

.visu
{
    font: normal 3em impact, helvetica, sans serif;
    color: #6cc;
}
